In [1]:
# Reproducible Analysis

## CASA0013: Foundations of Spatial Data Science

### Student Ids: ucfnlui, ucftYYYY, etc.

In [2]:
### ucfnlui code:

In [3]:
print("start from here")

start from here

In [4]:
### ucfniul code:

In [5]:
print("start from here")

start from here

In [6]:
### ucfnply code:

In [7]:
# Set the package 
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from requests import get
from urllib.parse import urlparse

In [8]:
# Network address of the required data
url_Sep  = f'http://data.insideairbnb.com/united-kingdom/england/london/2022-09-10/data/listings.csv.gz'
url_Jun  = f'http://data.insideairbnb.com/united-kingdom/england/london/2022-06-07/data/listings.csv.gz'
url_Mar  = f'http://data.insideairbnb.com/united-kingdom/england/london/2022-03-09/data/listings.csv.gz'

In [9]:
# Set the columns needed to be focused on
cols = ['id','host_id','price',  
        'latitude', 'longitude', 
        'availability_90','has_availability']

In [10]:
# Read the required data
df_Sep = pd.read_csv(url_Sep, compression='gzip', 
                low_memory=False, usecols=cols)

df_Jun = pd.read_csv(url_Jun, compression='gzip',
                low_memory=False, usecols=cols)

df_Mar = pd.read_csv(url_Mar, compression='gzip',
                low_memory=False, usecols=cols)

# View the number of rows and columns of data
print(f"Data frame is {df_Sep.shape[0]:,} x {df_Sep.shape[1]}")
print(f"Data frame is {df_Jun.shape[0]:,} x {df_Jun.shape[1]}")
print(f"Data frame is {df_Mar.shape[0]:,} x {df_Mar.shape[1]}")

Data frame is 69,351 x 7
Data frame is 66,152 x 7
Data frame is 66,632 x 7

In [11]:
# Filter out the data that is NAN in each column and delete the row it is in
df_Sep.drop(df_Sep[df_Sep.id.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.id.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.id.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.host_id.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.host_id.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.host_id.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.price.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.price.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.price.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.availability_90.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.availability_90.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.availability_90.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.has_availability.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.has_availability.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.has_availability.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.latitude.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.latitude.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.latitude.isna()].index.array, axis=0, inplace=True)

df_Sep.drop(df_Sep[df_Sep.longitude.isna()].index.array, axis=0, inplace=True)
df_Jun.drop(df_Jun[df_Jun.longitude.isna()].index.array, axis=0, inplace=True)
df_Mar.drop(df_Mar[df_Mar.longitude.isna()].index.array, axis=0, inplace=True)

# Check the number of rows and columns of filtered data
print(f"Data frame is {df_Sep.shape[0]:,} x {df_Sep.shape[1]}")
print(f"Data frame is {df_Jun.shape[0]:,} x {df_Jun.shape[1]}")
print(f"Data frame is {df_Mar.shape[0]:,} x {df_Mar.shape[1]}")

Data frame is 69,351 x 7
Data frame is 66,152 x 7
Data frame is 66,632 x 7

In [12]:
# Check the number NULL in each column
df_Sep.isnull().sum(axis=0).sort_values(ascending=False)

id                  0
host_id             0
latitude            0
longitude           0
price               0
has_availability    0
availability_90     0
dtype: int64

In [13]:
# Check the number NULL in each column
df_Jun.isnull().sum(axis=0).sort_values(ascending=False)

id                  0
host_id             0
latitude            0
longitude           0
price               0
has_availability    0
availability_90     0
dtype: int64

In [14]:
# Check the number NULL in each column
df_Mar.isnull().sum(axis=0).sort_values(ascending=False)

id                  0
host_id             0
latitude            0
longitude           0
price               0
has_availability    0
availability_90     0
dtype: int64

In [15]:
# Check the number of NULL in each row
df_Sep.isnull().sum(axis=1).sort_values(ascending=False).head(5)

0        0
46239    0
46225    0
46226    0
46227    0
dtype: int64

In [16]:
# Check the number of NULL in each row
df_Jun.isnull().sum(axis=1).sort_values(ascending=False).head(5)

0        0
44122    0
44092    0
44093    0
44094    0
dtype: int64

In [17]:
# Check the number of NULL in each row
df_Mar.isnull().sum(axis=1).sort_values(ascending=False).head(5)

0        0
44411    0
44413    0
44414    0
44415    0
dtype: int64

In [18]:
# Set the list of data types to be converted
bools = ['has_availability']
money = ['price']
ints  = ['id','host_id','availability_90']

In [19]:
# Convert the data in 'availabiltiy' to Boolean data
for b in bools:
    print(f"Converting {b}")
    df_Sep[b] = df_Sep[b].replace({'f':False, 't':True}).astype('bool')
    df_Jun[b] = df_Jun[b].replace({'f':False, 't':True}).astype('bool')
    df_Mar[b] = df_Mar[b].replace({'f':False, 't':True}).astype('bool')

# Convert the data in 'money' to float data
for m in money:
    print(f"Converting {m}")
    df_Sep[m] = df_Sep[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')
    df_Jun[m] = df_Jun[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')
    df_Mar[m] = df_Mar[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')

# Convert the data in 'id', 'host_id' and 'availabiltiy_90' to integer data
for i in ints:
    print(f"Converting {i}")
    try:
        df_Sep[i] = df_Sep[i].astype('float').astype('int')
        df_Jun[i] = df_Jun[i].astype('float').astype('int')
        df_Mar[i] = df_Mar[i].astype('float').astype('int')
    except ValueError as e:
        print("  - !!!Converting to unsigned 16-bit integer!!!")
        df_Sep[i] = df_Sep[i].astype('float').astype(pd.UInt16Dtype())
        df_Jun[i] = df_Jun[i].astype('float').astype(pd.UInt16Dtype())
        df_Mar[i] = df_Mar[i].astype('float').astype(pd.UInt16Dtype())

Converting has_availability
Converting price
Converting id
Converting host_id
Converting availability_90

In [20]:
# Set 'reservation' data in df by using the fomula:
# the number of reservation= 90 - the number of availability
df_Sep['reservation']=90-df_Sep.availability_90
df_Jun['reservation']=90-df_Jun.availability_90
df_Mar['reservation']=90-df_Mar.availability_90

In [21]:
# Convert the df from dataframe to geodataframe
gdf_Sep = gpd.GeoDataFrame(df_Sep, 
      geometry=gpd.points_from_xy(df_Sep.longitude, df_Sep.latitude, crs='epsg:4326'))
gdf_Jun = gpd.GeoDataFrame(df_Jun, 
      geometry=gpd.points_from_xy(df_Jun.longitude, df_Jun.latitude, crs='epsg:4326'))
gdf_Mar = gpd.GeoDataFrame(df_Mar, 
      geometry=gpd.points_from_xy(df_Mar.longitude, df_Mar.latitude, crs='epsg:4326'))

In [22]:
# Set the crs and set 'id' as index
listings_Sep = gdf_Sep.to_crs(epsg=27700)
listings_Jun = gdf_Jun.to_crs(epsg=27700)
listings_Mar = gdf_Mar.to_crs(epsg=27700)
listings_Sep = listings_Sep.set_index('id')
listings_Jun = listings_Jun.set_index('id')
listings_Mar = listings_Mar.set_index('id')

In [23]:
# read msoas data and set crs
msoas = gpd.read_file('http://orca.casa.ucl.ac.uk/~jreades/data/MSOA-2011.gpkg')
msoas = msoas.to_crs(epsg=27700)

In [25]:
# Dividing the London area into five zones
mapping = {}
for b in ['Enfield','Waltham Forest','Redbridge','Barking and Dagenham','Havering','Greenwich','Bexley']:
    mapping[b]='Outer_East_and_North_East'
for b in ['Haringey','Islington','Hackney','Tower Hamlets','Newham','Lambeth','Southwark','Lewisham']:
    mapping[b]='Inner_East'
for b in ['Bromley','Croydon','Sutton','Merton','Kingston upon Thames']:
    mapping[b]='Outer_South'
for b in ['Wandsworth','Kensington and Chelsea','Hammersmith and Fulham','Westminster','Camden','City of London']:
    mapping[b]='Inner_West'
for b in ['Richmond upon Thames','Hounslow','Ealing','Hillingdon','Brent','Harrow','Barnet']:
    mapping[b]='Outer_West_and_North_West'

In [26]:
# Add 'Subregion' data
msoas['Subregion'] = msoas.LAD11NM.apply(lambda x: mapping[x])

In [27]:
# Combining the datasets 
msoa_listings_Sep = gpd.sjoin(listings_Sep, msoas.drop(
                        columns=['MSOA11NM', 'LAD11CD', 'RGN11CD', 'RGN11NM',
                                 'USUALRES', 'HHOLDRES', 'COMESTRES', 'POPDEN', 'HHOLDS', 
                                 'AVHHOLDSZ']), predicate='within').drop(
                        columns=['latitude','longitude','index_right']
                )
msoa_listings_Jun = gpd.sjoin(listings_Jun, msoas.drop(
                        columns=['MSOA11NM', 'LAD11CD', 'RGN11CD', 'RGN11NM',
                                 'USUALRES', 'HHOLDRES', 'COMESTRES', 'POPDEN', 'HHOLDS', 
                                 'AVHHOLDSZ']), predicate='within').drop(
                        columns=['latitude','longitude','index_right']
                )
msoa_listings_Mar = gpd.sjoin(listings_Mar, msoas.drop(
                        columns=['MSOA11NM',  'LAD11CD', 'RGN11CD', 'RGN11NM',
                                 'USUALRES', 'HHOLDRES', 'COMESTRES', 'POPDEN', 'HHOLDS', 
                                 'AVHHOLDSZ']), predicate='within').drop(
                        columns=['latitude','longitude','index_right']
                )

In [28]:
# The number of listings available in London 
msoa_listings_Sep.has_availability.sum()

68345

In [29]:
# The number of listings available in every region
msoa_listings_Sep.groupby('Subregion').has_availability.sum()

Subregion
Inner_East                   27663
Inner_West                   23865
Outer_East_and_North_East     5065
Outer_South                   3539
Outer_West_and_North_West     8213
Name: has_availability, dtype: int64

In [30]:
msoa_listings_Jun.groupby('Subregion').has_availability.sum()

Subregion
Inner_East                   26694
Inner_West                   22627
Outer_East_and_North_East     4855
Outer_South                   3409
Outer_West_and_North_West     7670
Name: has_availability, dtype: int64

In [31]:
msoa_listings_Mar.groupby('Subregion').has_availability.sum()

Subregion
Inner_East                   26653
Inner_West                   22399
Outer_East_and_North_East     4774
Outer_South                   3400
Outer_West_and_North_West     7839
Name: has_availability, dtype: int64

In [32]:
# Set five region to a list
area=['Inner_East','Inner_West','Outer_East_and_North_East', 'Outer_South','Outer_West_and_North_West']

In [33]:
# Count the number of listings which has more than 30 reservations in London
msoa_listings_Sep.reservation[msoa_listings_Sep.reservation>30].count()

54815

In [34]:
# Count the number of listings which has more than 30 reservations in every region
for i in area:
    print(msoa_listings_Sep[msoa_listings_Sep.Subregion==i].reservation[msoa_listings_Sep.reservation>30].count())

23947
18764
3481
2569
6054

In [35]:
# Compute the growth rate of listings available in London
print(round((msoa_listings_Sep.has_availability.sum()-msoa_listings_Jun.has_availability.sum())/
             msoa_listings_Jun.has_availability.sum()*100,2))

print(round((msoa_listings_Sep.has_availability.sum()-msoa_listings_Mar.has_availability.sum())/
             msoa_listings_Mar.has_availability.sum()*100,2))

4.74
5.04

In [36]:
# Compute the growth rate of listings available from Jun to Sep 2022 in every region
for i in area:
    print(round((msoa_listings_Sep.groupby('Subregion').has_availability.sum()[i]-msoa_listings_Jun.groupby('Subregion').has_availability.sum()[i])/
          msoa_listings_Jun.groupby('Subregion').has_availability.sum()[i]*100,2))

3.63
5.47
4.33
3.81
7.08

In [37]:
# Compute the growth rate of listings available from Mar to Sep 2022 in every region
for i in area:
    print(round((msoa_listings_Sep.groupby('Subregion').has_availability.sum()[i]-msoa_listings_Mar.groupby('Subregion').has_availability.sum()[i])/
          msoa_listings_Mar.groupby('Subregion').has_availability.sum()[i]*100,2))

3.79
6.54
6.1
4.09
4.77

In [38]:
# Compute the growth rate of listings which has more than 30 reservations in London
print(round((msoa_listings_Sep.reservation[msoa_listings_Sep.reservation>30].count()-
             msoa_listings_Jun.reservation[msoa_listings_Jun.reservation>30].count())/
             msoa_listings_Jun.reservation[msoa_listings_Jun.reservation>30].count()*100,2))

print(round((msoa_listings_Sep.reservation[msoa_listings_Sep.reservation>30].count()-
             msoa_listings_Mar.reservation[msoa_listings_Mar.reservation>30].count())/
             msoa_listings_Mar.reservation[msoa_listings_Mar.reservation>30].count()*100,2))

-1.52
5.67

In [39]:
# Compute the growth rate of listings which has more than 30 reservations in every region
for i in area:
    print(round((msoa_listings_Sep[msoa_listings_Sep.Subregion==i].reservation[msoa_listings_Sep.reservation>30].count()-
          msoa_listings_Jun[msoa_listings_Jun.Subregion==i].reservation[msoa_listings_Jun.reservation>30].count())/
          msoa_listings_Jun[msoa_listings_Jun.Subregion==i].reservation[msoa_listings_Jun.reservation>30].count()*100,2))
          
    print(round((msoa_listings_Sep[msoa_listings_Sep.Subregion==i].reservation[msoa_listings_Sep.reservation>30].count()-
          msoa_listings_Mar[msoa_listings_Mar.Subregion==i].reservation[msoa_listings_Mar.reservation>30].count())/
          msoa_listings_Mar[msoa_listings_Mar.Subregion==i].reservation[msoa_listings_Mar.reservation>30].count()*100,2))

-0.01
4.13
-3.93
4.0
-0.68
14.47
-1.04
11.12
-0.44
10.47

In [ ]:
print("start from here")

In [ ]:
### ucfnjin code:

In [ ]:
print("start from here")